img {
    transition: transform 0.5s ease;
    width: 350px;
    height: 300px;
}

.ichi{
    text-align: center;
    margin-top: 20px;
}

.hako{
    text-align: center;
    margin-top: 30px;
}

.image.shake {
    transform: scale(1.1) translateX(10px);
}

.font{
    font-size: 30px;
    margin-top: 20px;
}